Attack <%= $game.player2.name %>
<p> "<%= $game.player2.hit_points %> takes damage of 10! <%= $game.player2.hit_points %> </p>
<p><form action="/play"> <input type="submit" id="redirect_play" value="continue"> </form><p>
